@model IEnumerable<CSupporter.Modules.Contractors.DTO.ContractorDto>
@{
    ViewData["Title"] = "Contractors";
}
<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Contractors List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="ContractorCreate" class="btn btn-outline-primary float-right"><i class="fas fa-plus"></i> + Add New Contractor</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    CompanyName
                </th>
                <th>
                    NIP
                </th>
                <th>
                    Address
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @item.FirstName
    </td>
    <td>
        @item.LastName
    </td>
    <td>
        @item.CompanyName
    </td>
    <td>
        @item.NIP
    </td>
    <td>
        @item.Address
    </td>
    <td>
        <a asp-action="ContractorEdit" class="btn btn-success w-auto" asp-route-contractorId="@item.Id">
            Edit
        </a>
        <a asp-action="ContractorDelete" class="btn btn-danger w-auto" asp-route-contractorId="@item.Id">
            Delete
        </a>
    </td>
</tr>}
        </tbody>
    </table>
</div>